{
  "ERP_BASE_URL": "https://erp.example.com",
  "ERP_PROJECT_ID": "123",
  "ERP_LABEL_EPIC_PLAN": "1801",
  "ERP_LABEL_DRAFT": "1792",  
  "ERP_LABEL_TO_APPROVE": "1762",
  "ERP_LABEL_TO_DEFINE": "1785",
  "ERP_LABEL_APPROVED": "1763",
  "ERP_LABEL_READY": "1765"
}
